/*CSS Reset -> this standardizes the entire code so that it can be clean. Apply the following for a CSS reset*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'open sans', sans-serif;
}

header {
	/*padding will appear as 12.8 because 16px*0.8 =12.8*/
	padding: 0.8rem; 
	margin-bottom: 2rem;
	align-items: flex-end;
	border-bottom: 1px solid gray;
}

header .nav, header .nav-logo {
	/*margin this will appear as 8 because 16*0.5=8*/
	margin: 0.5rem;
	display: inline;
}

/*Styles for Introductory Section*/

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#intro h1, #intro p {
	margin-bottom: 1rem;
	text-align: center;
}

#intro div {
	text-align: center;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

/*Styles for Section Headers*/

.header {
	text-align: center;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info > div > h3 {
	margin-bottom: 1rem;
	color: red;
}

#succeed-info div {
	display: inline;
	width: 33.33%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	display: inline-block;
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}