*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Prompt;
}

#body {
	background-image: url(./images/pulag.jpg);
	background-attachment: fixed;
	background-size: cover;
	min-height: 500px;
  	height: auto;
  	width: 100%;
  	background-position: center;
}

#mop {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
}

#name {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
}

#pic1 {
	width:auto ;
	height: 30%;
	border-radius: 1000px;
}

#aboutMe {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	color: white;
}

#exercise {
	background-color: rgba(173, 21, 10, 0.5);
	border-radius: 25px;
	color: white;
}

#lnp {
	background-color: rgba(0, 106, 255, 0.5);
	border-radius: 25px;
	color: white;
}

#travel {
	background-color: rgba(255, 213, 0, 0.5);
	border-radius: 25px;
	color: white;
}