* {
	font-size: 50px;
}

p {
	font-size: 1rem;
}

#greetings {
	font-size: 1rem;
}

section {
	font-size: 25px;
}

section > p {
	font-size: 1em;
}

.profs {
	font-size: 30px;
}

.sir {
	font-size: 2em;
}