/*
	Syntax of using CSS rules:
		selector{
			declaration = property:value
		}
*/

/*ID Selector*/
#zuitt-motto{
	/*letter-spacing family changes the spaces between the characters in a text*/
	letter-spacing: 5px;
}


/*Class Selector*/
/*.class-name*/
.offering-item{
	/*text-transform property changes the font to a certain case*/
	/*uppercase value changes the text to all-upper caps*/
	text-transform: uppercase;
}

/*Attribute Selector*/
[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*Type Selector*/
/*Tag Name*/
h1{
	/*color property changes the color of the text*/
	color: darkblue;
}

/*this would not work if !important isnt present, since ID selector is stronger
h3{
	letter-spacing: 25px !important;
}
*/

/*Universal Selector*/
/*Targets all the elements in our webpage*/
*{
	/*font-family property changes the style of the font*/
	font-family: "courier-new", monospace;
	/*font-size changes the size of the text*/
	font-size: 20px;
}

/*Adjacent Sibling Selector*/
/*element-for-reference + target element*/
/*This can also work even if you use the id of the elements*/
h3+img{
	border-style: double;
	border-radius: 150px;
	/*height property changes the vertical dimensions of an element*/
	height: 300px;
	/*width property changes the horizontal dimensions of an element*/
	width: 300px;
}

/*Descendant Selector*/
/*element-for-reference target*/
#bootcamp-learning-list li{
	color: darkblue;
}

/*General Sibling Selector*/
/*Text-decoration property changes lines included in the text (e.g. overline, underline, strikethrough; the none value will remove the underline from the anchor tag*/
h2~a{
	text-decoration: none;
}
/*Note: The 2 things that both the <a></a> tags in the 2 different sections have is a general sibling that is an <h2> tag, so in order to target them, the general sibling tag of h2~a may be the best to use*/

/*Child Selector*/
body > section > form > label{
	color: darkblue;
}

body{
	background-color: skyblue;
}

body{
	height: 100vh;
	text-align: center;
}

html{
	/*Scroll-behavior tag changes the scrolling behavior when clicking the anchor tags*/
	scroll-behavior: smooth;
}

nav{
	background-color: whitesmoke;
	border-style: solid;
}

/*pseudoclass*/
a:hover{
	background-color: teal;
}

div{
	display: inline;
	
	/*float property changes the horizontal alignment of an element to float either to the left or to the right of its container or div*/
	float: right;
}

ol{
	list-style-type: none;
}

form{
	text-align: center;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	height: 185px;
	/*vw property is the viewport width, it determines how big the border will be, relative to the size of the screen. 25vw means 25% of the size of your screen*/
	width: 25vw;
	/*Position property changes the position of an element based on a certain criteria*/
	position: relative;
	/*This is the margin of the left indent. If the vw is 25%, the remaining space in the row is 75%, therefore to put the textbox in the center, divide 75/2 = 37.5%*/
	left: 37.5%;
}

button{
	background-color: darkred;
	color: white;
	border:0;
	border-radius: 15px;
}