* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

nav {
	padding: 10px; 
	top: 10px;
	margin-bottom: 2rem;
	align-items: center;
	border-bottom: 1px solid gray;
	font-family: open sans;
	position: sticky;
}

.nav-logo {
	display: inline;
}

.right-nav {
	float: right;
}

.nav {
	display: inline;
	margin-left: 3rem;
}

.tuitt-button {
	background-color: #c2195b;
	border-radius: 300px;
	color: white;
	font-size: 15px;
	height: 2em;
	width: 8em;
}

.front-bg {
	background-image: url(https://lh4.googleusercontent.com/proxy/vnrU_-Gaj4Fnca-KM__paIIzo1H0ROp0LXgT32efgiPjRpAYDYa9Rfyo2pA2ExzGoA7G30i3lSQuUWtz_ga5l6oKq6ANiGSg1T7GeB0FPJPgZHu_wRz8lqPhr_o);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	min-height: 50vh;
	position: relative;
}

.container {
	color: white;
	text-align: right;
	background-color: rgba(0, 0, 0, 0.5);
	padding-right: 5%;
	padding-left: 6%;
	padding-bottom: 10%;
}

.title {
	font-size: 2rem;
	margin-left: 55vw;
	font-family: 'zilla slab';
	padding-top: 2%;
	padding-bottom: 2%;
}

.subtitle {
	font-size: 1rem;
	margin-left: 55vw;
	font-family: 'zilla slab';
	padding-bottom: 2%;
}

.apply-button {
	background-color: #c2195b;
	border-radius: 300px;
	color: white;
	font-size: 15px;
	width: 10vw;
	height: 5vh;
}

.intro {
	padding-left: 22.5%;
	padding-right: 22.5%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

.title-2 {
	text-align: center;
	padding-top: 1.5rem;
	padding-bottom: 3rem;
}

.pre-footer{
	padding-left: 22.5%;
	padding-right: 22.5%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	background-color: #f7fbfb;
}

.prefooter-description {
	padding-bottom: 3%;
}

.book-button {
	background-color: #336589;
	color: white;
	height: 5vh;
	width: 10vw;
	border-radius: 300px;
}

footer {
	text-align: center;
	padding-bottom: 3%;
}