* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Bootstrap*/
body{
	font-family: "Helvetica Neue"; sans-serif;
}

.text-center{
	text-align: center;
}

.h-25{
	height: 25%;
}
.p-3{
	padding: 1rem;
}

.bg-secondary{
	background-color: grey;
}

.bg-success{
	background-color: forestgreen;
}

.bg-warning{
	background-color: yellow;
}

.bg-danger{
	background-color: darkred;
}

.d-flex{
/*The flex value of the display property will change the element into a block-level flex container; in other words, it will turn into a row (by default)*/
	display: flex;
}

.flex-column{
/* This will arrange the contents into a column */
	flex-direction: column;
}

.flex-column-reverse{
	flex-direction: column-reverse;
}

.justify-content-center{
/* The CSS "justify-content" property allows us to manipulate the positioning of the elements horizontally (x-axis) */
	justify-content: center;
}

/* align-items-center must be used on the parent element; align-self-center must be used on the child elements */

.align-self-center{
	align-self: center;
}

.align-items-center{
/* The CSS "alignt-items" property allows us to manipulate the positioning of the elements vertically */
	align-items: center;
}


/*justify-content, align-items, and align-self will only work if they are INSIDE a parent tag with a class="d-flex"; think of it like the C.R.C. rule. The columns won't work unless it is inside a row and the row won't work unless it is inside a container.*/