#div-1 {
	background-color: green;
	/*<div> tag will naturally have a block property,; implementing this following declaration will give it into an inline property*/
	display: inline:;
}

#span-1 {
	background-color: purple;
	display: inline;
	/*This will not take effect because we can't use width and height in the property display*/
	width: 250px;
	height: 250px;
}

#span-2 {
	background-color: red;
	/*<span> tag will naturally have an  inline property; impelementing this following declaration will give it a block property*/
	display: block;
}

#div-2 {
	background-color: hotpink;
}

#img {
	width: 250px;
	height: 250px;
}

#p-1 {
	background-color: #27F32A;
}

#p-2 {
	background-color: rgb(230, 101, 90);
	width: 60%;
}

#p-3 {
	background-color: yellow;
	width: 40%;
}

.sample {
	display: inline-block;
	width: 30%;
	border: 1px solid black;
	text-align: center;
}

/* Float Property */
.img-float {
	width: 250px;
	height: 250px;

	/*float: left;*/
}

.box {
	background-color: red;
	border: 1px solid  black;
	margin: 5px;
}

.fifty-percent {
	width: 50%;
}

.one-hundred-pixels  {
	width: 100px;
}

.parent {
	width: 135px;
	border: 2px solid navy;
}

.fifty-vw {
	width: 50vw;
}

/*VW is useful for creating full-width elements (100%) that fill up entire viewport's width*/
/*VH is useful for creating full-height elements (100%) that fill up entire viewport's height*/

.twenty-five-vh {
	height: 25vh;
}

.one-rem {
	font-size: 1rem;
}

.one-em {
	font-size: 1em;
}

.two-rem {
	font-size: 2rem;
}

.two-em {
	font-size: 2em;
}

.parent {
	width: 135px;
	border: 2px solid-navy;
	font-size: 30px;
}

.two-hundred-percent {
	font-size: 200%;
}

.background {
	min-height: 100vh;
	/*background-color: gray;*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: scroll;
}

.bg-title {
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
	line-height: 50rem;
}

.container-bg {
	background-color: rgba(0, 0, 0, 0.5);
	/*the "a" is the opacity*/
	min-height: 145vh;
}

.parent-element {
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 800vh;
}

.child-one {
	background-color: gray;
	padding: 10px;
}

.child-two {
	background-color: yellow;
	padding: 10px;
	position: sticky;
	top: 10px;
}

.child-three {
	background-color: gray;
	padding: 10px;
}

html{
	height:800vh;
}

.container {
	position: relative;
}

.black-box {
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box {
	position: absolute;
	z-index: 3;
	background: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 60px;
}

.green-box {
	position: absolute;
	z-index: 2;
	background: lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;
	height: 70px;
}