#externalstyling{
	color: yellow;
}

*{
	font-family: roboto;
}

h1{
	font-size: 50px;
}

#languages{
	text-transform: uppercase;
}

.language{
	background-color: rgb(141, 196, 137);
}

[value]{
	border-style: solid;
	border-color: rgb(116, 167, 247);
}

img + ul{
	list-style-type: none;
}

body section img{
	border-radius: 500px;
	height: 100px;
	width: 100px;
}

section ~ p{
	text-align: center;
}

body > section > ul{
	letter-spacing: 5px;
}